.profile img {
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

.menu {
    font-size: 15px;
    position: absolute;
    background: #333;
    padding: 0.7em;
    right: 16px;
    border: 1px solid lightgrey;
    /* box-shadow: 1px 1px 2px white; */
}

.menu li {
    padding: 2px;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    color: white;
    text-decoration: underline;
}

.menu a:visited {
    color: white;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}